<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Listado de caracteres
        </ion-title>
        <ion-item>
            <ion-label>
                Buscar
            </ion-label>
            <ion-input placeholder="ID Del Personaje o Nombre" [(ngModel)]="valor" (ngModelChange)='getDataByID($event)'></ion-input>
        </ion-item>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true ">
    <ion-header collapse="condense ">
        <ion-toolbar>
            <ion-title size="large ">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>
    <!-- List of Text Items -->
    <ion-list>
        <ion-item>
            <ion-label>ID</ion-label>
            <ion-label>Nombre</ion-label>
        </ion-item>
        <ion-item *ngFor="let data of dataUser ">
            <ion-label>{{data.id}}</ion-label>
            <ion-label>{{data.nombre}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>